
.strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.button {
  background-color: #af151a;
    color: #FFF;
    border: 0;
    padding: 10px 25px;
    font-size: 12px;
    transition: .7s background-color;
}

.button-2 {
  background-color: #072b3a;
  color: #FFF;
  border: 0;
  padding: 15px 30px;
  font-size: 12px;
  transition: .7s background-color ease-in-out;
  display: inline-block;
}

.button-2:hover {
  color: #072b3a;
  background-color: #fff;
}

.button:hover {
  background-color: #780b0e;
  color: #FFF;
}

.required {
  color: #ab161c;
}

.titulo {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.subtitle {
  color: #ab161c;
  font-size: 16px;
  font-weight: normal;
}

.highlight {
  font-weight: bold;
  color: #ab161c;
  font-size: 28px;
  text-transform: uppercase;
}

.no-padding {
  padding: 0 !important;
}

.clearfix {
  clear: both;
}

.relative {
  position: relative;
}

.valign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* vendor prefixes omitted due to brevity */
}

/* Animations */

.hover_underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #af151a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hover_underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  cursor: pointer;
}

.hover_zoom {
  background-size: 110% !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.8s ease-in-out;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
}

.hover_zoom:hover {
  background-size: 100% !important;
  cursor: pointer;
}
