/*
* Modular CSS for Post Pages only
 */

 .aam-primary.aam-post {
   padding-top: 0;
   background: #fff;
 }

.aam-post .aam-call-us .wpcf7-form .wpcf7-submit {
  background-color: #FFF;
  color: #000;
}

.aam-post .post-header .post-navigation {
  /*background-color: #224f53;*/
  background-color: #000;
}

.aam-post .post-header .post-navigation ul {
  text-align: right;
}

.aam-post .post-header .post-navigation ul li {
  display: inline;
}

.aam-post .post-header .post-navigation ul li a {
  color: #fff;
    padding: 15px;
    display: inline-block;
    font-size: 12px;
}

.aam-post .post-header .post-information {
  background-color: #55c5cf;
}

.aam-post .post-information .container {
  position: relative;
padding: 90px 0;
}

.aam-post .post-information .logo {
  width: 210px;
  height: 260px;
  border: 2px solid #fff;
  display: inline-block;
  position: absolute;
  top: -30px;
  margin-left: 45px;
}

.aam-post .post-information .logo img {
  display: table;
margin: 0 auto;
padding-top: 85px;
}

.aam-post .post-information .localization {
  position: absolute;
  left: 50%;
  margin-left: -314px;
  color: #fff;
  top: 15px;
}

.aam-post .post-information .localization .name {
  margin-bottom: 0;
}

.aam-post .post-information .localization .city {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 20px;
}

.aam-post .post-information .localization ul {
  margin-left: 0;
  padding-left: 0;
}

.aam-post .post-information .localization ul li {
  float: left;
  background: #000 !important;
  text-transform: uppercase;
  font-size: 12px;
  list-style: none;
}

.aam-post .post-information .localization div {
    padding: 13px 15px;
}


.aam-post .post-information .slogan {
  color: #fff;
  width: 430px;
  display: inline-block;
  right: 10px;
  text-align: right;
  text-transform: uppercase;
}

.aam-post .post-navigation ul {
  padding-right: 145px;
}

.aam-post .aam-apresentation {
  /*min-height: 850px;*/
}

.aam-post .subtitle {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  position: relative;
}

.aam-post .subtitle:before {
  content: "";
  height: 1px;
  width: 60px;
  border: 1px solid #53c5cd;
  position: absolute;
  top: 35px;
}

.aam-post .title {
  color: #53c5cd;
  font-size: 58px;
  padding-right: 90px;
}

.aam-post h4.paragraph {
  font-size: 23px;
padding-right: 90px;
margin-top: 20px;
}

/* Slogan */

.aam-slogan {
  padding: 60px 0 45px 0;
}

/* Vídeo */

.aam-video iframe {
  margin-top: 20px;
}

/* Galeria */

.aam-gallery {
  padding: 40px 0 40px 0;

}

.aam-gallery .container {
  position: relative;
}

.aam-gallery .tip {
  position: absolute;
  top: 22px;
  right: 20px;
}

.aam-gallery .aam-gallery-inner {
  text-align: center;
  padding: 25px 0;
}

.aam-gallery .slides {
  display: inline-block;
  /* width: 250px; */
  /* margin-right: 15px; */
  margin: 20px 26px;
  margin-bottom: 15px;
  position: relative;
}


.aam-gallery .slides:first-child, .aam-gallery .slides:nth-child(5), .aam-gallery .slides:nth-child(9), .aam-gallery .slides:nth-child(14) {
  margin-left: 0;
}

.aam-gallery .slides:nth-child(4), .aam-gallery .slides:nth-child(8), .aam-gallery .slides:nth-child(12) {
  margin-right: 0;
}

.aam-gallery .slides .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0;
  z-index: 2;
  transition: all .7s;
}

.aam-gallery .slides:hover .overlay {
  opacity: .7;
}

.aam-gallery .slides .sub {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  z-index: 3;
  color: #fff;
  display: inline-block;
  left: 0;
  opacity: 0;
  transition: all .7s;
  word-wrap: break-word;
  padding: 0 20px;
  font-size: 18px;
}


.aam-gallery .slides:hover .sub {
opacity: 1;
}

/* Frase de Impacto */

.aam-phrase {
  text-align: center;
  padding: 35px 0;
}

.aam-phrase .title {
  font-size: 46px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 !important;
}


/* Ficha Técnica */

.aam-datasheet {
  padding: 40px 0;
background-color: #eeeeee;
}

.aam-datasheet .datasheet-list {
  list-style: none;
  padding-left: 0;
  margin: 40px 0;
}

.aam-datasheet .datasheet-list li {
  display: inline-block;
  width: 270px;
  height: 75px;
  color: #666666;
  margin-left: 17px;
  font-size: 16px;
  vertical-align: top;
}

.aam-datasheet .datasheet-list li:before {
  content: "■";
  color: #ab161c;
  margin-left: -15px;
  margin-right: 5px;
}

.aam-datasheet .datasheet-list li span {
  display: block;
  color: #ab161c;
  font-weight: bold;
}

/* Tour Virtual */

.aam-tour-virtual {
  padding: 35px 0;
}

.aam-tour-virtual iframe {
  margin-top: 20px;
}

/* AAM localization */

.aam-localization {
  padding: 60px 0;
}

.aam-localization .title {
  margin-top: 40px;
  margin-bottom: 0;
}

.aam-localization span {
  font-size: 16px
}

.aam-localization .chamada-complementar {
  font-size: 18px;
}

.aam-localization .chamada-slogan {
  font-size: 36px;
  margin: 20px 0;
}

.aam-localization .chamada-descricao {
  font-size: 18px;
line-height: 25px;
}

.aam-localization .mapa .tip {
  position: absolute;
  right: 15px;
  top: 0px;
  background-color: #53c5cd;
  padding: 10px;
  color: #fff;
}

.aam-floor {
  padding: 60px 0;
}

.aam-floor .planta {
  width: 315px;
    height: 85px;
    background-color: #55c5cf;
    border: 0;
    color: #fff;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    margin-top: 25px;
}

.aam-floor p {
      margin-top: 35px;
}

.aam-floor img {
  width: 100%;
  height: 100%;
}

/* Estágio da Obra */

.aam-circle .circle {
  width: 100px;
  display: inline-block;
  position: relative;
  margin-right: 25px;
  height: 150px;
  vertical-align: top;
}

.aam-circle .circle strong {
  font-size: 24px;
position: absolute;
top: 35px;
width: 100%;
text-align: center;
}

.aam-circle .circle h4 {
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
}

.aam-circle {
  padding: 60px 0;
}
