/*
Colors:

Gray: #e1e4e4
Grey: #888888;
Red: #af151a
*/

@media (min-width: 1200px){

  .container {
      width: 1200px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}
/*
.logo {
  text-align: center;
  padding: 10px 0;
}*/

.container {
  margin: 0 auto;
}


.topo .logo {
  text-align: center;
padding: 20px 0;
background-color: #fff;
}

.topo .logo .container {
  position: relative;
}

.topo .navigation {
  background: #e1e4e4;
}

.topo .navigation .primary-menu {
  text-align: center;
  padding: 25px 0 22px 0;
  margin: 0;
}

.topo .navigation .primary-menu li {
  display: inline;
  margin-right: 20px;
  margin-left: 10px;

}

.topo .navigation .primary-menu li a {
  color: #666666;
  text-transform: uppercase;
  /*font-size:12px;*/
  font-size: 11px;
  position: relative;
}

.topo .navigation .primary-menu li.current-menu-item a {
  font-weight: 900;
  color: #000;
}

.topo .navigation .primary-menu li a:hover {
  cursor: pointer;
}

.topo .navigation .primary-menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #af151a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.topo .navigation .primary-menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  cursor: pointer;
}

.navigation-inner {
  padding: 5px 0;
}

.navigation-inner .primary-menu li a {
  font-size: 13px !important;
  font-weight: bold;
}

.topo .navigation-inner .primary-menu li {
  overflow: auto;
      padding: 10px 0;
      border-right: 1px solid #999999;
      padding-right: 35px;
      display: inline;
      margin-right: 20px;
}

.topo .sub-menu {
  display: none;
}

.topo .navigation-inner .primary-menu li:last-child {
  border: 0;
}

.navigation-inner .primary-menu li img {
  margin-right: 5px;
margin-top: -5px;
}

/* Pesquisa */

.search-box {
  position: absolute;
  right: 0;
  top: 20px;
}

.search-box .search-box-inner {
  position: relative;
}

.search-box .search-input {
  border: 1px solid #cdcdcd;
  border-radius: 30px;
  padding: 11px;
  position: absolute;
  right: 0;
  top: -5px;
  /*padding-right: 40px;
  /*width: 260px;*/
  /*padding-left: 20px;*/
  padding: 0;
  height: 40px;
  opacity: 0;
  width: 0;
  transition: .7s all ease-in-out;

}

.search-box.opened .search-input {
  width: 260px;
  height: 40px;
  padding-right: 40px;
  padding-left: 20px;
  opacity: 1;
}

.search-box .search-icon {
  position: absolute;
  z-index: 2;
  left: -30px;
  top: 5px;
}

.search-box .search-icon:hover {
  cursor: pointer;
}

/* Slider */

.aam-slider {
  background-color: #e1e4e4;
}

.aam-slider .container {
  position: relative;
}

.aam-slider .slide {
  width: 100%;
  height: 481px;
}

.aam-slider .overlay {
  background: url('../img/overlay.png');
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.aam-slider .caption {
  z-index: 20;
  position: absolute;
  top: 60px;
  width: 100%;
}

.aam-slider .caption-inner {
  width: 540px;
  margin: 0 auto;
  overflow: auto;
  padding: 1px;
  background: #55c5d0;

}

.aam-slider .caption .caption-image {
  width: 270px;
  height: 350px;
  float: left;
  background-size: cover !important;
}

.aam-slider .caption .caption-title {
  color: #fff;
    text-transform: uppercase;
  font-weight: normal;
}

.aam-slider .caption .caption-logo {
  /*width: 150px;*/
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #072b3a;
}

.aam-slider .caption .city {
  color: #072b3a;
  text-transform: uppercase;
  font-weight: bold;
}

.aam-slider .caption .info {
  width: 175px;
  border-top: 1px solid #072b3a;
  margin-top: 10px;
  /* width: 100%; */
  height: 30px;
  list-style: none;
  padding-left: 0;
  color: #072b3a;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 15px;
  font-weight: bold;
  padding-bottom: 25px;
  position: relative;
}

.aam-slider .caption .info::before {
  width: 100px;
  position: absolute;
  content: "";
  height: 5px;
  border-top: 5px solid #072b3a;
  top: 0;
}

.aam-slider .caption .info li {
  float: left;
}

.aam-slider .caption .info li:nth-child(1){
  border-right: 1px solid #072b3a;
  padding-right: 10px;
  margin-right: 10px;
}

.aam-slider .caption .caption-content {
  float: left;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    width: 260px;
}

.aam-slider .bx-wrapper {
  margin-bottom: 0;
  box-shadow: none;
  background: transparent;
  border: 0;
  z-index: 9;
}

.aam-slider .bx-wrapper .bx-prev {
  background: transparent url(../img/icons/arrow-left.jpg) 0 0 no-repeat;
  height: 59px;
  width: 59px;
  text-indent: -10000px;
  overflow: hidden;
  left: -35px;
  z-index: 9;
}

.aam-slider .bx-wrapper .bx-next {
  background: transparent url(../img/icons/arrow-right.jpg) 0 0 no-repeat;
  height: 59px;
  width: 59px;
  text-indent: -10000px;
  overflow: hidden;
  right: -35px;
  z-index: 9;
}

.aam-slider .nivo-slice, .aam-slider .nivo-box, .aam-slider .nivo-box img, .aam-slider .nivo-slice img {
  z-index: 9999 !important;
  position: absolute;
  overflow: visible !important;
}

/* Search */

.aam-search {
  background: #888888;
}

.aam-search {
  padding: 20px 0;
}

.aam-search .form-inline {
  text-align: center;
}

.aam-search .form-inline .select{
  width: 215px;
  /*background: url(../img/icons/arrow-down.png)*/
  background: transparent;
  border: 1px solid #ccc;
  height: 40px;
  margin-right: 5px;
  color: #fff;
}

/* Call to action (Floating) */

.aam-call {
  background-color: #811114;
  color: #fff;
  overflow: auto;

  width: 100%;
  /*bottom: 96px;*/
  bottom: 10%;
  z-index: 999999;
  transition: .7s all ease-in-out;
}

.aam-call.scroll {
  bottom: 0;
  position: fixed;
}

.aam-call.scroll-footer {
  bottom: 0;
  position: fixed;
}

.aam-call .aam-call-item, .aam-call .broker {
  display: inline-block;
  text-align: center;
}

.aam-call .aam-call-item {
  width: 192px;
  /*width: 185px;*/
  padding-top: 25px;
  height: 75px;
  transition: .7s all;
  background-color: #811114;
}

.aam-call .aam-call-item:hover {
  background-color: #af151a;
}

.aam-call .aam-call-item span {
  color: #fff;
  margin: 50px 0 0 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.aam-call .broker {
  width: 225px;
  text-align: left;
  background-color: #af151a;
  padding: 18px 26px;
  font-weight: 300;
  float: left;
}

.aam-call ul {
  float: left;
  padding: 0;
  margin: 0;
}

.aam-call ul li {
  display: inline-block;
}
/* Destaque */

.aam-featured {
  padding-top: 125px;
  background: #fff;
}

.aam-featured .titulo {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 55px;
}

.aam-featured h1.titulo::before {
    content: "";
    height: 1px;
    border-bottom: 1px solid #ab161c;
    position: absolute;
    width: 80px;
    bottom: -15px;
}

.aam-featured  .destaques {}

.aam-featured  .destaques .empreendimento {
  height: 100%;
  position: relative;
}

.aam-featured  .destaques .empreendimento .empreendimento-descricao {
  width: 285px;
  height: 145px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

.empreendimento .titulo-empreendimento {
  font-size: 18px;
  margin-bottom: 5px;
}

.empreendimento .empreendimento-chamada {
  overflow: auto;
padding: 10px 0 12px 0;
border-top: 1px solid #bbbbbb;
border-bottom: 1px solid #bbbbbb;
width: 90%;
margin-top: -1px;
}

.empreendimento .empreendimento-chamada span {
  display: inline-block;
position: absolute;
padding: 11px 0;
bottom: 0;
border-right: 1px solid #bbb;
padding-right: 0px;
padding-left: 15px;
padding-right: 0;
    width: 144px;
    font-size: 13px;
}

.empreendimento .empreendimento-chamada .button {
  margin-left: 149px;
}

.empreendimento .informacao {
  padding-left: 15px;
overflow: auto;
list-style: none;
}

.empreendimento .informacao li {
  float: left;
  margin-right: 25px;
  font-size: 13px;
}

.empreendimento .informacao li::before, .empreendimento .empreendimento-chamada span::before {
  content: "■";
  color: #ab161c;
  margin-left: -15px;
  margin-right: 5px;
}

.aam-featured  .destaques .destaque-maior {
  height: 675px;
  /*max-width: 675px;*/
  width: calc(100% - 500px);
  display: inline-block;
}

.aam-featured  .destaques .destaques-menores {
  height: 100%;
  /*max-width: 500px;*/
  width: calc(100% - 675px);
display: inline-block;
}

.aam-featured  .destaques .segundo-empreendimento {
  top: -29px;
  margin-bottom: 10px;
  left: 25px;
}

.aam-featured  .destaques .terceiro-empreendimento {
  left: 25px;
}

.aam-featured  .destaques .destaques-menores .destaque-menor {
    height: 323px;
    width: 100%;
}

/* Carrosel */

.aam-carousel {
  background: #fff;
  padding: 120px 0 0 0;
}

.aam-carousel .carousel-item {
  width: 390px;
  height: 500px;
  display: inline-block;
  position: relative;
}

.aam-carousel .carousel-overlay {
  background: url(../img/carousel-overlay.png);
  width: 100%;
  height: 100%;
  position: absolute;
}

.aam-carousel .carousel-inner {
  width: 260px;
margin-left: 30px;
top: 300px;
}

.aam-carousel .carousel-inner {
  color: #fff;
}

.aam-carousel .carousel-inner .titulo-empreendimento {
  color: #fff;
  font-weight: 300;
}

.aam-carousel  .empreendimento .empreendimento-chamada {
  width: 96%;
}

.aam-carousel  .empreendimento .empreendimento-chamada span {
  display: inline-block;
  position: absolute;
  padding: 11px 0;
  bottom: 0px;
  border-right: 1px solid #bbb;
  /*padding-right: 60px;*/
  padding-right:0;
  padding-left: 15px;
}

.aam-carousel .carousel-inner .button {
  /*margin-left: 130px;*/
  margin-left: 145px;
}

.aam-carousel .carousel-inner .highlight {
  color: #fff;
}

/* Our History */

.aam-our-history {
  background: url(../img/bg-familia-conheca-historia.jpg) no-repeat center top;
  min-height: 605px;
}

.aam-our-history .title {
  font-weight: bold;
  margin-top: 20px;
}

.aam-our-history .paragraph {
  margin-top: 38px;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 14px !important;
}

.aam-our-history .cta {
  color: #af151a;
  font-weight: bold;
  display: inline-block;
  width: 600px;
  background: url(../img/icons/cta.png);
  height: 50px;
  position: absolute;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  left: 38%;
  margin-top: 38px;
  text-align: right;
  padding-top: 20px;
}

.aam-our-history .aam-our-history-inner {
  width: 380px;
  float: right;
  margin-top: 60px;
}


/* Footer */

.aam-footer {
  background: #e1e4e4;
  padding: 80px 0 30px 0;
}

.aam-footer .copyright {
  /*padding-top: 140px;*/
}

.aam-footer .logo-rbianco {

}

.home .aam-footer {
  padding-top: 0;
}

.aam-footer .aam-call {
  margin-top: 25px;
  margin-bottom: 40px;
  position: initial !important;
}

/* Widgets */

.aam-widget {
  display: inline-block;
  width: 195px;
  padding-top: 55px;
  vertical-align: text-top;
}

.aam-widget .widget-title {
text-transform: uppercase;
color: #bd0e19;
font-size: 16px;
}

.aam-widget.aam-widget-1 {
  width: 250px;
  margin-right: 120px;
  padding-top: 0;
  float: left;
  margin-top: 70px;
}

.aam-widget.aam-widget-1 address {
  color: #666666;
  margin-top: 27px;
}

.aam-widget .list {
  list-style: none;
  padding: 0;
}

.aam-widget .list li {
  position: relative;
  margin-bottom: 5px;
}

.aam-widget .list a {
  color: #666666;
}


.aam-widget .list  a:hover {
  cursor: pointer;
}

.aam-widget .list  a:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #af151a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.aam-widget .list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  cursor: pointer;
}

.aam-widget .partner-item {
  width: 100%;
display: inline-block;
background-color: #888;
color: #fff;
height: 35px;
padding-top: 8px;
padding-left: 13px;
margin-bottom: 4px;
transition: .7s all;
}

.aam-widget .partner-item:hover {
  background-color: #af151a;
}

.aam-widget .partner-item span {
  margin-left: 10px;
}



/* Boxes */

.aam-boxes {}
.aam-boxes .aam-box {
  background: #d6d8d8;
  padding: 40px;
  min-height: 312px;
}

.aam-boxes .aam-box.aam-box-2 {
  background: #dbdbdb;
}

.aam-boxes .aam-box.aam-box-3 {
  background: #d0d0d0;
}

.aam-boxes .aam-box .title {
  margin-top: 0;
  margin-bottom: 25px;
}

/* Page */

.page {
  background-color: #e1e4e4;
}

.aam-primary {
  background-color: #e1e4e4;
  border-top: 1px solid #fff;
  padding-top: 43px;
}

.aam-primary .breadcrumb {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.aam-primary .breadcrumb li {
  text-transform: uppercase;
  font-size: 16px;
}

.aam-primary .breadcrumb li a , .aam-primary .breadcrumb li{
  color: #1f1f1f;
}

.aam-primary .breadcrumb::before {
    content: "";
    height: 1px;
    border: 1px solid #a51e13;
    position: absolute;
    width: 80px;
    bottom: -8px;
}

.page .supertitle {
  font-size: 58px;
  color: #ab161c;
  margin-top: 0;
  line-height: 56px;
  margin-bottom: 20px;
}

.page .paragraph {
  font-size: 16px;
}

/* Live Editor */

.panel-grid-cell, .panel-grid-cell {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panel-grid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.panel-grid-cell .panel-cell-style {
  padding-left: 0;
  padding-right: 0;
}

.page-id-33 #pg-33-0.panel-grid-cell {
  padding-right: 80px !important;
}

/* Form */

/* Página de Contato */
.page-id-33 .form-group {
  overflow: auto;
}

.page-id-33 .wpcf7-form .wpcf7-text {
  width: 258px;
}

.page-id-33 .wpcf7-form .wpcf7-textarea {
  width: 79%;
}

.page-id-33 .wpcf7-form .col-lg-4 {
  margin-right: 55px;
}

.page-id-33 .wpcf7-form .col-xs-12 {
  margin-bottom: 0;
}

.page-id-33 .form-group {
  margin-bottom: 0;
}

.page-id-33 .wpcf7-form .wpcf7-submit {
  margin-right: 146px;
}


.wpcf7-form h3 {
  color: #af151a;
}

.wpcf7-form .wpcf7-text {
  height: 50px;
  width: 293px;
    padding: 0 10px;
    background: transparent;
  border: 1px solid #ccc;
}

.wpcf7-form .wpcf7-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  color: #75757d;
  background: transparent;
}

.wpcf7-form .wpcf7-file {
  border: 1px solid #ccc;
  color: #75757d;
  background: transparent;
    padding: 12px;
    margin-top: 10px;
}

.wpcf7-form .wpcf7-submit {
  width: 141px;
  height: 50px;
  color: #fff;
  background: #a51f13;
  border: 0;
  /* display: block; */
  margin-top: 30px;
  float: right;
}

.wpcf7-form .col-xs-12 {
  margin: 10px 0;
}

/* Category */

.category .aam-carousel .carousel-item {
    width: 370px;
    height: 500px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.category .title {
  text-align: center;
color: #9d1014;
font-size: 54px;
margin-bottom: 30px;
}

.category .aam-primary {
  background: #fff;
  padding-top: 0;
}

.category .category-subheading {
  background: #888888;
}

.category .category-subheading li a, .category .category-subheading li {
  color: #fff;
}

.aam-primary.category .breadcrumb {
      padding-top: 30px;
      float: left;
}

.aam-primary.category .aam-search {
  float: right;
}

.aam-primary .category .breadcrumb::before {
  height: 0;
  content:none;
  visibility:hidden;
}

/* Modal */

.aam-modal .modal.in .modal-dialog {
  -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
  transform: translateY(50%);
}

.aam-modal .modal-title {
  color: #ab161c;
  font-size: 52px;
  line-height: 46px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.aam-modal .modal-dialog {
  width: 830px
}

.aam-modal .modal-header {
  border: 0;
  padding: 0;
}

.aam-modal .close {
  background: #666666;
color: #fff;
width: 40px;
height: 40px;
position: absolute;
right: 10px;
top: 0;
opacity: initial;
font-size: 30px;
font-weight: normal;
}

.aam-modal .icone {
  margin-top: 50px;
}

.aam-modal .logo {
  margin-top: 25px;
  padding-bottom: 50px;
}

.aam-modal .modal-form {
  text-align: left;
  margin-top: 50px;
}

.aam-modal .modal-form .wpcf7-submit {
  float: left;
}

.aam-modal .modal-form label {
  float: left;
}

.aam-modal .modal-content {
  border-left: 10px solid #a51f13;
  padding: 0 35px;
}

#ligamos .modal-dialog {
  -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    -o-transform: translateY(40%);
  transform: translateY(40%);
}


#email .modal-dialog {
  -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
  transform: translateY(30%);
}


/* Fale Conosco - Interna */

.aam-call-us {
  color: #fff;
  padding: 40px 0;
}

.aam-call-us .subtitle, .aam-call-us .title {
  color: #fff !important;
}

.aam-call-us .wpcf7-form .wpcf7-textarea, .aam-call-us .wpcf7-form .wpcf7-text {
  color: #fff;
  border: 1px solid #fff;
}

.aam-call-us .block-01 {
  display: inline-block;
width: 450px;
float: left;
}

.aam-call-us .block-02 {
  display: inline-block;
  width: 290px;
  float: left;
  margin-top: 80px;
}

.aam-call-us .block-02 ul li {
  width: 215px;
  list-style: none;
  /* height: 90px; */
  background-color: #000;
  font-size: 18px;
  text-align: center;
  /* line-height: 90px; */
  margin-bottom: 5px;
  /* padding-top: 20px; */
  position: relative;
  text-align: left;
  /* padding-left: 80px; */
}

.aam-call-us .block-02 ul li.ligamos img {
      padding: 31px 12px;
}

.aam-call-us .block-02 ul li div {
  height: 90px;
    width: 215px;
    padding-left: 60px;
    padding-top: 20px;
}

.aam-call-us .block-03 .wpcf7-form .wpcf7-submit {
  margin-top: 0;
}

.aam-call-us .block-02 ul li:hover {
  cursor: pointer;
}

.aam-call-us .block-02 ul li img {
  position: absolute;
left: 0;
top: 0;
left: 0;
background-color: #46979d;
/* width: 60px; */
/* height: 90px; */
padding: 31px 10px;
}

.aam-call-us .block-03 {
  display: inline-block;
    width: 290px;
}
